@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Quicksand:wght@300..700&display=swap"); 




body {
    margin: 0;
    background-color: lightpink;
}

/* NAVIGATION STYLES */
#navigation_container {
    display: flex;
    background-color: rgb(154, 107, 154);
    padding: 1rem;
    justify-content: space-between;
}

#left_side_nav > a {
    text-decoration: none;
    font-size: 1.2rem;
    padding-left:3rem;
}


#right_side_nav > a {
    text-decoration: none;
    font-size: 1.2rem;
    padding-right: 3rem;
}

#left_side_nav > a:hover {
    text-decoration: underline;
    color: white;
}

#right_side_nav > a:hover {
    text-decoration: underline;
    color: white;
}

#bannerName{
    font-size: 1.3rem;
    font-weight: 900;
    color: rgb(210, 204, 209);  
    padding-right: 1rem;
}

/* ////////////LOGIN/////////// */
#login_page_container{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#login-form{
    height: fit-content;
    width: 25rem;
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.349);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    
}

#login-form * {
    font-family: "Poppins", sans-serif;
    color: purple;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
#login-form > h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
  }

#login-form > label {
    display: block;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  #login-form > input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 3px;
    padding: 0 .5rem;
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: 300;
}

  
 #login-form > input:hover{
    outline: 7px solid #0001;
  }

  #login_button_container > button {
    /* margin-top: 3.1rem;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size:1.5rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer; */
    justify-content: right;
    border-radius: .5rem;
    border:2px black solid;
    background-color: rgb(185, 120, 180);
    font-size: 1.1rem;
    padding: .5rem;
    cursor: pointer;
    margin-top: 2rem;
    color: white;
  }

#login_button_container {
    text-align: right;

}


  /* REGISTRATION FORM STYLE */

#registration_form_page_container{
display: flex;
justify-content: center;
padding-top: 2rem;
padding-bottom: 2rem;
}

#registration_form{
    height: fit-content;
    width: 25rem;
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.349);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

#registration-form_title_container > h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2;   
    color: purple;
    font-family: "Poppins", sans-serif;
  }

#id_username, #id_first_name, #id_last_name, #id_email, #id_password1, #id_password2 {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 3px;
    padding: 0 .5rem;
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    color: purple;
}

#id_password2:hover{
    outline: 7px solid #0001;

}


#id_password1:hover{
    outline: 7px solid #0001;

}
#id_email:hover{
    outline: 7px solid #0001;

}
#id_last_name:hover{
    outline: 7px solid #0001;

}
#id_first_name:hover{
    outline: 7px solid #0001;

}
#id_username:hover{
    outline: 7px solid #0001;
}

#id_password1:hover{
    outline: 7px solid #0001;
}

#register_account_button_container{
    text-align: right;
}
#register_button {
    justify-content: right;
    border-radius: .5rem;
    border:2px black solid;
    background-color: rgb(185, 120, 180);
    font-size: 1.1rem;
    padding: 1rem;
    cursor: pointer;
    margin-top: 2rem;
    color: white;
  }

  #registration_page_login_link{
    font-family: "Poppins", sans-serif;
    color: purple;
    letter-spacing: 0.5px;
  }


  /* DATING FORM STYLES */
#dating_profile_page_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  #dating_form{
    width: 40%;
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.349);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 2rem;
    margin: 3rem;
}

#dating_form_header{
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2;   
    color: purple;
    font-family: "Poppins", sans-serif;
  }

  #dating_form_button_container{
    text-align: right;
  }
  .form-group-profile-pic{
    padding-top: 1rem;
    padding-bottom: 1rem;
    column-gap: 1rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: .5rem;
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    color: purple;
  }

  #profile_pic_container{
    line-height: 2rem;
  }
  .form-group-bio{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    column-gap: 1rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: .5rem;
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    color: purple;
  }

  .form-group-bio > label{
    padding-left: 1rem;
  }
  .form-group{
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    column-gap: 1rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: .5rem;
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    color: purple;
  }

  .form-group > label{
    padding-left: 1rem;
  }

  .form-group-profile-pic > label{
    padding-left: 1rem;
  }

  .form-group-profile-pic:hover{
    outline: 7px solid #0001;
  }

  .bio_input_container{
    margin-top: .5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .form-group-bio:hover{
    outline: 7px solid #0001;
  }

  
  .form-group-favorite-place{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    column-gap: 1rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: .5rem;
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    color: purple;
  }

  .form-group-favorite-place > label{
    padding-left: 1rem;
  }

  .form-group-favorite-place:hover{
    outline: 7px solid #0001;
  }

  .favorite_place_ever_been_input_container{
    margin-top: .5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  #id_bio{
    width: 98%;
  }

  #id_favorite_place_ever_been{
    width: 98%;
    height: 2rem;
  }

  .form-group:hover{
    outline: 7px solid #0001;
}

#profile_pic_container{
    padding-left: 1rem;
    margin-top: 1rem;
}

#dating_form_button {
    justify-content: right;
    border-radius: .5rem;
    background-color: rgb(185, 120, 180);
    color: white;
    margin-top: 2rem;
    font-size: 1.1rem;
    padding: .5rem;
    cursor: pointer;
  }


/* PROFILE PAGE STYLES */

#profile_name_container {
    display: flex;
    column-gap: 3rem;
    justify-content: center;
    font-size: 4rem;
    font-weight: 900;
    margin-top: 2rem;
    margin-bottom: 4rem;
    justify-content: left;
    padding-left: 10rem;
    margin-right: 2rem;
    color: purple;
}

#profile_modifier_buttons_container {
    display: flex;
}

#profile_header_container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 3rem;
}

#dating_profile_image_container{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    max-width: fit-content;
    border-radius: 50%;
    box-shadow:  0 0 25px 5px #230031a4;
}
#dating_profile_image_container > img{
    width: 256px;
    height: 256px;
    border-radius: 50%;    
    border-radius: 50%;
    object-fit: cover;
    object-fit: cover;
}
#dating_and_personality_profile_information_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    margin: 2rem;
}

#dating_profile_container {
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    height: fit-content;
    border: 2px solid rgba(255, 255, 255, 0.349);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}


#dating_profile_header_container {
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
}

#dating_profile_header_text{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    text-align: center;
    font-weight: 900;
    padding: 1rem;
    color: purple;
}

#dating_profile_information_container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem;
    min-width: fit-content;
    background-color: rgba(255, 255, 255, 0.512);
    margin: 2rem;
    border-radius: 10px;


}
#dating_profile_gender_container{
    display: flex;
    justify-content: space-between;
    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;
}

#dating_profile_age_container{
    display: flex;
    justify-content: space-between;

    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;

}
#dating_profile_interested_in_container{
    display: flex;
    justify-content: space-between;
    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;

}
#dating_profile_smoker_container{
    display: flex;
    justify-content: space-between;
    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;
}

#dating_profile_drinker_container{
    display: flex;
    justify-content: space-between;

    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;
}

#dating_profile_occupation_container{
    display: flex;
    justify-content: space-between;

    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;
}

#dating_profile_bio_container{
    display: flex;
    justify-content: space-between;

    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;
}


#dating_profile_favorite_place_container{
    display: flex;
    justify-content: space-between;
    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;
}

#dating_profile_edit_button_container{
    text-align: right;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

/* PERSONALITY FORM STYLE */

#personality_page_container{
    display: flex;
    justify-content: center;
}

#personality_form{

    width: 40%;
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.349);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 2rem;
    margin: 3rem;
}

#personality_form_header{
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2;   
    color: purple;
    font-family: "Poppins", sans-serif;
}

#personality_form_button_container{
    text-align: right;
}

#personality_form_button{
    justify-content: right;
    width: 20%;
    border-radius: .5rem;
    border:2px black solid;
    background-color: rgb(185, 120, 180);
    font-size: 1.1rem;
    padding: .5rem;
    cursor: pointer;
    margin-top: 2rem;
    color: white;
}

/* PERSONALITY PROFILE PAGE STYLES */

#personality_profile_container {
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    height: fit-content;
    border: 2px solid rgba(255, 255, 255, 0.349);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}


#personality_profile_header_container {
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: purple;
    
}

#personality_profile_header_text{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    text-align: center;
    font-weight: 900;
    padding: 1rem;
}

#personality_profile_information_container{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem;
    min-width: fit-content;
    background-color: rgba(255, 255, 255, 0.512);
    margin: 2rem;
    border-radius: 10px;
}

#personality_profile_edit_button_container{
    padding: 2rem;
    
}

#personality_profile_interests_container{
    display: flex;
    justify-content: space-between;

    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;

}

#personality_profile_do_you_like_drinking_container{
    display: flex;
    justify-content: space-between;

    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;


}

#personality_profile_are_you_active_container{
    display: flex;
    justify-content: space-between;

    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;


}

#personality_profile_music_pick_container{
    display: flex;
    justify-content: space-between;

    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;


}

#personality_profile_outdoor_indoor_pick_container{
    display: flex;
    justify-content: space-between;

    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;


}

#personality_profile_what_do_you_do_for_fun_container{
    display: flex;
    justify-content: space-between;

    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;


}

#personality_profile_movie_pick_container{
    display: flex;
    justify-content: space-between;

    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;
}

#personality_profile_hobby_pick_container{
    display: flex;
    justify-content: space-between;

    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;

}

#personality_profile_sport_pick_container{
    display: flex;
    justify-content: space-between;

    font-size:1.6rem;
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    color: purple;

}

/* #dating_profile_create_button_container{
    display: flex;
    justify-content: right;
}

#dating_profile_edit_button_container{
    display: flex;
    justify-content: right;
}
#personality_profile_create_button_container{
    display: flex;
    justify-content: right;
}
#personality_profile_edit_button_container{
    display: flex;
    justify-content: right;
} */

.profile_info_text{
    font-weight: 900;
}


.user_profile_button {
    /* border-radius: .5rem;
    background-color: rgb(185, 120, 180);
    color: white;
    font-size:1.4rem;
    padding: .5rem;
    cursor: pointer; */
    justify-content: right;
    border-radius: .5rem;
    background-color: rgb(185, 120, 180);
    color: white;
    font-size: 1.1rem;
    padding: .5rem;
    cursor: pointer;
}

/* .user_profile_button {
    margin-top: 3.1rem;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size:1.5rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
} */

/* ///////////match-making/////////// */

.milf_text{
    padding-top: 2%;
    text-align: left;
    color:purple;
    margin-right: 30%;
    font-size: 150%;
    padding-bottom: 10%;
    
}

.no_milfs{
    border-collapse: collapse;
    border-color: #0e0d0d;
    border-width: 3px;
    float: left;
    padding: 2px 5px 0 1px;
    vertical-align: top;
    margin: 15px;
    margin-left: 20%;
    border-radius:10%;
    width: 20%;
    /* align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid;
    border-radius: 10px; */
}
.match-making-title{
    font-size: 2rem;
    font-weight: 900;
    color: purple;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* 
.matchmakingBTN{
    border-radius: .5rem;
    background-color: rgb(185, 120, 180);
    color: white;
    font-size: 1.1rem;
    padding: .5rem;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

} */

#matchmaking_profile_image_container {
    display: flex;
    justify-content: center;
    max-width: fit-content;
    border-radius: 50%;
    box-shadow:  0 0 25px 5px #230031a4;

}
#matches {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: row;
    padding-right: 10px;
    justify-content: space-evenly;
}

#partner-cards {
    color: purple;
    font-weight: 900;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: rgba(255, 255, 255, 0.301);
    border: 2px solid rgba(255, 255, 255, 0.349);
    height: 430px;
    width: 320px;
    border-radius: 10px;
    scroll-snap-align: start;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 420px;
    justify-content: space-evenly;
    margin: 10px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);

}

#partner-img{
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    object-fit: cover;
}

#match_making_button_container{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap:.5rem;
}

#match_making_button_container > a{
    color: white;
    text-decoration: none;
}

.matchmakingBTNs{
    border-radius: .5rem;
    background-color: rgb(185, 120, 180);
    color: white;
    font-size: 1.1rem;
    padding: .5rem;
    cursor: pointer;
}


.matchmakingBTNs > a{
    color: white;
    text-decoration: none;
}


.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

/* ////////////HOME///////////// */
.logo_img{
    background: url("/DatingApp/app/static/cupid.png");
    background-size: 30%;
    background-position: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15% ;
    justify-content: center;
}

.logo_name{
    background: url("/DatingApp/app/static/cupid.png");
    background-size: 30%;
    background-position: 50%;
    color: rgb(120, 17, 33);
    font-weight: bold;
    font-size: 5rem;
    margin: auto 0;  
    text-align: center;
    margin-top: .2%;
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 1%;
  }

.slogan_text{
font-family: "Dancing Script", cursive;
font-optical-sizing: auto;
text-align: center;
font-weight: bold;
font-size: 180%;
color:purple;
}

/* ////////////HOME GALLERY///////////// */

div.gallery {
    background-color: rgba(255, 255, 255, 0.512);
    border: 1px solid #ccc;
    padding-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  
  div.gallery img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  300px;
    height: 300px;
    object-fit: cover;
  }
  
  div.desc {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 15px;
    text-align: center;
  }
  
  .responsive {
    padding: 0 6px;
    padding-left: 6%;
    margin: auto;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .match_btn{
    justify-content: center;
  }
  

  .home_text{
    text-align: center;
    color:purple;
    font-size: 150%;
  }

  .lyric_text{
    font-family: "Lobster", sans-serif;
    text-align: center;
    color: rgb(120, 17, 33);
  }

/* ////////////////HOME HEART//////////////// */


.wrapper {
width: 200px;
height: 200px;
position: relative;
margin: 50px auto;
}


.heart {
position: absolute;
height: 100px;
width: 100px;
background-color: rgb(185, 120, 180);
top: 50px;
left: 50px;
border: none;
transform: rotate(45deg);
}

.heart:focus {
outline: none;
}

.heart::before,
.heart::after {
content: '';
position: absolute;
height: 100%;
width: 100%;
background-color: rgb(185, 120, 180);
border-radius: 50%;
}

.heart::before {
top: -50px;
left: 0;
}

.heart::after {
top: 0;
left: -50px;
}


.beat {
height: 100px;
width: 100px;
background-color: rgb(185, 120, 180);
position: absolute;
top: 50px;
left: 50px;
transform: rotate(45deg);
transition: all 0.2s;
}

.beat::before,
.beat::after {
content: '';
position: absolute;
height: 100%;
width: 100%;
background-color: rgb(185, 120, 180);
border-radius: 50%;
}

.beat::before {
top: -50px;
left: 0;
}

.beat::after {
top: 0;
left: -50px;
}


.beat:hover {
transform: rotate(45deg) scale(1.2);
opacity: 0;
}

/* //////////////MESSAGES////////////// */
.inboxMSGs{
    color: purple;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.301);
    padding: 10px;
    justify-content: space-evenly;
    border: 2px solid rgba(255, 255, 255, 0.349);
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-left: 35%;
    margin-right: 35%;
}

.inboxBTN{
    border-radius: .5rem;
    background-color: rgb(185, 120, 180);
    color: white;
    font-size: 1.1rem;
    padding: .5rem;
    cursor: pointer;
}

/* .emptyInbox{
    height: 500px;
    width: 500px;
    border: 10px solid rgb(185, 120, 180);
    border-radius: 10px;
    margin: 0 auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 30px;
} */

.emptyInbox{
    color: purple;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.301);
    padding: 10px;
    margin-left: 40%;
    margin-right: 40%;
    /* border: 2px solid rgba(255, 255, 255, 0.349);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px auto;
    backdrop-filter: blur(10px);
    margin-left: 35%;
    margin-right: 35%; */
}

.leftsideinbox{
    display: flex;
    flex-direction: column;
}

.sentMSGs{
    color: purple;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.301);
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.349);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px auto;
    backdrop-filter: blur(10px);
    margin-left: 35%;
    margin-right: 35%;
}

.receivedMSGs{
    color: purple;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.301);
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.349);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px auto;
    backdrop-filter: blur(10px);
    margin-left: 35%;
    margin-right: 35%;

}



/* /////////////SEND MSGS//////////////// */
.sendMSGs{
    color: purple;
    font-weight: 900;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.301);
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.349);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px auto;
    backdrop-filter: blur(10px);
    margin-top: 10%;
    margin-right: 40%;
    margin-left: 40%;
}

.sendMSGs > button{
    border-radius: .5rem;
    background-color: rgb(185, 120, 180);
    color: white;
    font-size: 1.1rem;
    padding: .5rem;
    cursor: pointer;
}

/* ///////////////POTENTIAL PARTNER//////////// */
#partner_profile_page_container{
    display: flex;
    justify-content: center;
}
.potential_partner_profile{
    color: purple;
    font-weight: 900;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.301);
    backdrop-filter: blur(10px);
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.349);
    margin: 10px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);

}

#partner_profile_header_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .potential_partner_profile > button{
    border-radius: .5rem;
    background-color: rgb(185, 120, 180);
    color: white;
    font-size: 1.1rem;
    padding: .5rem;
    cursor: pointer;
} */
#partner_profile_image_container {
    display: flex;
    justify-content: center;
    max-width: fit-content;
    border-radius: 50%;
    box-shadow:  0 0 25px 5px #230031a4;
}
#partner_profile_image_container > img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#partner_profile_button_container{
    display: flex;
    justify-content: end;
    padding-bottom: 1rem;
    width: 100%;
}


#partner_profile_button{
    justify-content: right;
    border-radius: .5rem;
    background-color: rgb(185, 120, 180);
    font-size: 1.1rem;
    padding: .5rem;
    cursor: pointer;
}

#partner_profile_button > a{
    text-decoration: none;
    color: white;

}

.partner_profile_container{
    width: 40rem;
}

/* /////////////Inbox//////////////// */

.inbox_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15% ;

}
