body {
    margin: 0;
    background-color: lightpink;
}

#navigation_container {
    display: flex;
    background-color: rgb(154, 107, 154);
    padding: 1rem;
    column-gap: 3rem;
}

#navigation_container > a {
    text-decoration: none;
    font-size: 1.2rem;
}

#navigation_container > a:hover {
    text-decoration: underline;
    color: white;
}

#profile_name_container {
    display: flex;
    column-gap: 3rem;
    justify-content: center;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#profile_modifier_buttons_container {
    display: flex;
}

#dating_profile_image_container{
    padding-left: 2rem
}

#dating_and_personality_profile_information_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
}

#dating_profile_information_container {
    margin:0
}

#dating_profile_header_container {
    display: flex;
    justify-content: center;
    font-size:2rem;
}

#dating_profile_header_text{
    text-decoration: underline;
}

#personality_profile_header_container {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

#personality_profile_header_text{
    text-decoration: underline;
}

.user_profile_button {
    border-radius: .5rem;
    background-color: rgb(185, 120, 180);
    color: white;
    font-size:1.4rem;
    padding: .5rem;
}
