{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Name</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <script src="{% static "scripts.js" %}"></script>   

</head>
<body>
    <div id="navigation_container">
        {% if user.id != None %}
            <a href="{%url 'logout'%}">Logout</a>
            <a href ="{% url 'profile'%}">Profile</a>
            <a href ="{% url 'home'%}">Home</a>
            <a href ="{% url 'inbox'%}">Inbox</a>
            <span id="bannerName">Welcome, {{user.username}}</span>

        {% endif %}
    </div>

    
    {% block content %}

    {% endblock content %}
    
</body>
</html>