{% extends "base.html" %}

 {% block content %}
 <div id="dating_profile_page_container">

        {% comment %} <p id="dating_profile_page_header">
            <h2 class = "job-header">Make your Profile</h2>
        </p> {% endcomment %}
             
          <form  method="POST" enctype="multipart/form-data" id="dating_form">
          {% comment %} <div class="dating_profile_page_container"> {% endcomment %}
            <div id="dating_form_header_container">
                <h3 id="dating_form_header">Make your Profile</h3>
                    {% if form.errors %}
                          {% for field in form %}
                              {% for error in field.errors %}
                                  <div class="alert alert-danger alert-dismissable">
                                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                      <strong>{{ field.label }}: {{ error|escape }}</strong>
                                  </div>
                              {% endfor %}
                          {% endfor %}
                      {% endif %}
              {% csrf_token %}
                  {% for field in form %}
                      {% if field.name == 'gender'  %}
                          <div class="form-group">
                          <label for="gender">Gender</label>
                          <select name="gender" class="selectpicker" id="job-type" data-style="btn-black" data-width="100%" data-live-search="true" title="Select Job Type">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                    
                          </select>
                          </div>
                      
                                            
                        {% elif field.name == 'profile_pic' %}
                            <div class="form-group-profile-pic">
                                <label for="profile_pic">Profile Picture</label>
                                <div id="profile_pic_container">
                                {% comment %} {{ form.media }} {% endcomment %}
                                {{ form.profile_pic }}
                            </div>
                            </div>
                        {% elif field.name == 'interested_in' %}
                        <div class="form-group">
                            <label for="interested_in">Interested in?</label>
                            <select name="interested_in" class="selectpicker" id="job-type" data-style="btn-black" data-width="100%" data-live-search="true" title="Select">
                                <option value="Men">Men</option>
                                <option value="Women">Women</option>
                    
                            </select>
                            </div>
                        {% elif field.name == 'smoker' %}
                        <div class="form-group">
                            <label for="smoker">Smoker</label>
                            <select name="smoker" class="selectpicker" id="smoker" data-style="btn-black" data-width="100%" data-live-search="true" title="smoker">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                    
                            </select>
                            </div>
                        {% elif field.name == 'drinker' %}
                        <div class="form-group">
                            <label for="drinker">Drinker</label>
                            <select name="drinker" class="selectpicker" id="drinker" data-style="btn-black" data-width="100%" data-live-search="true" title="drinker">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                            </div>
                        {% elif field.name == 'occupation' %}
                        <div class="form-group">
                            <label for="profile_occupation">Occupation</label>
                            <div class="">
                            {{ form.occupation }}
                        </div>
                        </div>
                        {% elif field.name == 'bio' %}
                        <div class="form-group-bio" id="form_bio">
                            <label for="profile_bio">Bio</label>
                            <div class="bio_input_container">
                            {{ form.bio }}
                        </div>
                        </div>
                        {% elif field.name == 'favorite_place_ever_been' %}
                        <div class="form-group-favorite-place">
                            <label for="profile_favorite_place_ever_been">Favorite place you have ever been</label>
                            <div class="favorite_place_ever_been_input_container">
                            {{ form.favorite_place_ever_been }}
                        </div>
                        </div>
                        {% else %}
                        <div class="form-group">
                            <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}"
                                    class="form-control"
                                    name="{{ field.name }}"
                                    id="id_{{ field.name }}"
                                    placeholder="{{ field.field.widget.attrs.placeholder }}">
                        </div> 
                      {% endif %}
                  {% endfor %}
                  <div class="columns">
                    <div class="row">
                      <div class="columns more">
                        <input class="btn1" type="submit" value="Submit" id="dating_form_button">
                      </div>
                    </div>
                  </div>
                
                 
            </div>    
          </div>
        </form>
      </div>

{% endblock content %}