{% extends "home.html" %}

 {% block content %}
        <p>
            <h2 class = "job-header">Make your Profile</h2>
        </p>
             
          <form  method="POST" enctype="multipart/form-data">
          <div class="container">
            <div class="form container">
                <h3 class="createformheader">Profile</h3>
                    {% if form.errors %}
                          {% for field in form %}
                              {% for error in field.errors %}
                                  <div class="alert alert-danger alert-dismissable">
                                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                      <strong>{{ field.label }}: {{ error|escape }}</strong>
                                  </div>
                              {% endfor %}
                          {% endfor %}
                      {% endif %}
              {% csrf_token %}
                  {% for field in form %}
                      {% if field.name == 'gender'  %}
                          <div class="form-group">
                          <label for="gender">gender</label>
                          <select name="gender" class="selectpicker" id="job-type" data-style="btn-black" data-width="100%" data-live-search="true" title="Select Job Type">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                    
                          </select>
                          </div>
                      
                                            
                        {% elif field.name == 'profile_pic' %}
                            <div class="form-group">
                                <label for="profile_pic">Profile Picture</label>
                                <div class="">
                                {% comment %} {{ form.media }} {% endcomment %}
                                {{ form.profile_pic }}
                            </div>
                            </div>
                        {% elif field.name == 'interested_in' %}
                        <div class="form-group">
                            <label for="interested_in">Interested in?</label>
                            <select name="interested_in" class="selectpicker" id="job-type" data-style="btn-black" data-width="100%" data-live-search="true" title="Select">
                                <option value="Men">Men</option>
                                <option value="Women">Women</option>
                    
                            </select>
                            </div>
                        {% elif field.name == 'smoker' %}
                        <div class="form-group">
                            <label for="smoker">Smoker</label>
                            <select name="smoker" class="selectpicker" id="smoker" data-style="btn-black" data-width="100%" data-live-search="true" title="smoker">
                                <option value="Yes">Yes</option>
                                <option value="No">NO</option>
                    
                            </select>
                            </div>
                        {% else %}
                        <div class="form-group">
                            <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}"
                                    class="form-control"
                                    name="{{ field.name }}"
                                    id="id_{{ field.name }}"
                                    placeholder="{{ field.field.widget.attrs.placeholder }}">
                        </div> 
                      {% endif %}
                  {% endfor %}
                
                 
            </div>    
          </div>
          
          <div class="row align-items">
            <div class="collums">
              <div class="row">
                <div class="colllums more">
  
                  <input class="btn1" type="submit" value="Submit" >
                </div>
              </div>
            </div>
              </form>
  
          </div>
        </div>

{% endblock content %}