{% extends "base.html" %}
{% load static %}
{% comment %} <body>
    <div id="navigation_container">
        <a href="{%url 'logout'%}">Logout</a>
        <a href ="{% url 'profile'%}">Profile</a>
        <a href ="{% url 'home'%}">Home</a>
    </div> {% endcomment %}
     
    {% block content %}
    <h3 class="home_text">Don't take our word for it, look at these happy couples!</h3>
    <h2 class="lyric_text">If you had to describe your relationship in one lyric, what would it be?</h2>
    
    <div class="responsive">
        <div class="gallery">
            <img src="{% static 'ryandkris.jpg' %}" alt="ryandkris"> 
          <p class="lyric_text">"I'm gonna love you forever and ever
            Forever and ever, amen"</p>
          <div class="desc">Ryan and Kristin together since 1932.</div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
                <img src="{% static 'naeandbri.jpg' %}" alt="naeandbri">
          <p class="lyric_text">"You gotta see the artistry in tearing apart this place with me baby!"</p>
          <div class="desc">Briana and Nathan together since 2014</div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
                <img src="{% static 'kerandjo.jpg' %}" alt="kerandjo">
          <p class="lyric_text">"I hope you don't mind that I put down in words how wonderful life is while you're in the world."</p>
          <div class="desc">Kera and John together since 2019.</div>
        </div>
      </div>
      
      <div class="clearfix"></div>

 
        <h3 class="home_text">What are you waiting for? Find your match now!</h3>
        {% comment %} <button class = "button"> <a href= "{% url "matchmaking"%}">Match</a></button> {% endcomment %}
        <div class="wrapper">
            <a href="{% url 'matchmaking' %}">
                <button class="heart"></button>
                <div class="beat"></div>
        </a>
    </div>
    {% endblock content %}
    
{% comment %} </body>
</html> {% endcomment %}