{% extends "base.html" %}
{% comment %} <body>
    <div id="navigation_container">
        <a href="{%url 'logout'%}">Logout</a>
        <a href ="{% url 'profile'%}">Profile</a>
        <a href ="{% url 'home'%}">Home</a>
    </div> {% endcomment %}
     
    {% block content %}
    {% comment %} <button class = "button"> <a href= "{% url "matchmaking"%}">Match</a></button> {% endcomment %}
    <div class="wrapper">
        <a href="{% url 'matchmaking' %}">
            <button class="heart"></button>
            <div class="beat"></div>
        </a>
    </div>
    {% endblock content %}
    
{% comment %} </body>
</html> {% endcomment %}