{% extends "base.html" %}
{% comment %} <body>
    <div id="navigation_container">
        <a href="{%url 'logout'%}">Logout</a>
        <a href ="{% url 'profile'%}">Profile</a>
        <a href ="{% url 'home'%}">Home</a>
    </div> {% endcomment %}
     
    {% block content %}
    <button class = "button"> <a href= "{% url "matchmaking"%}">Match</a></button>
    <div class="wrapper">
        <button class="heart"><a href= "{% url "matchmaking"%}"></button></a>
        <div class="beat"></div>
    </div>
    {% endblock content %}
    
{% comment %} </body>
</html> {% endcomment %}