{% extends "base.html" %}

{% block content %}
<div id="login_page_container">
    <form method="POST" action="", id="login-form">
        {% csrf_token %}
        <h3>Login</h3>
        <label for="Username">Username</label>
        <input type="text" name="username" placeholder="Username..">
        <label for="Password">Password</label>
        <input type="password" name="password" placeholder="Password..">
        <div id="login_button_container">
            <button type="submit" class="submit-button" id="login-submit-button">Login</button>
        </div>
            <p>Don't have an account? <a href={% url "register"%}>Register</a></p>
    </form>
</div>
{% endblock content %}

