{%extends 'base.html'%} {% block content%}
<h2 class = "match-making-title">Meet your Matches!</h2>
<button> <a href= "{% url "matchmaking"%}">Find More Matches</a></button>


<div id="matches">
  {% for set in val %}
  {% for object in set%} 
    {% if user != object.user_profile.user_profile  %}
    {% comment %} {%for key, value in random_potential_partners.items()%}
    <div id="render">{% if key == "1"%}</div>
    {{value.user__first_name}}
  </div>
  {% endcomment %}
    <div id="partner-cards">

          <img src="{{object.user_profile.profile_pic.url}}" id="partner-img"/>
          <div id = "partner-name">
            {{object.user_profile.user_profile.first_name}}
            {{ object.user_profile.user_profile.last_name}}
          </div>
          <div id = "partner_age">
            {{ object.user_profile.age}}
          </div>
          <div id= "partner_buttons">
          <button> <a href= "{% url "partner" object.id %}" >View Profile</a></button>
          <button> <a href= "{% url "send_message" object.id %}" >Message</a></button>
          </div>
    </div>
    {% endif %}  
    {%endfor%} 
    {%endfor%} 
 

</div>


{%endblock content%}
