{%extends 'base.html'%}{%load static%} 

{% block content%}
<h2 class="lyric_text">Meet your matches delivered right by cupid's arrow!
</h2>
<img src="{% static 'hotnsinglemilfs.jpg' %}" alt="nomilf" class="no_milfs">
<h3 class="milf_text">Say goodbye to the single milfs in your area looking for you and say hello to the matches that Cupid
Shuffle's flawless algorithm has picked out for you and if a milf is in there it’s a win win!</h3>



{% comment %} <h2 class = "match-making-title">Meet your Matches!</h2> {% endcomment %}
{% comment %} <button class="matchmakingBTN"> <a href= "{% url "matchmaking"%}">Find More Matches</a></button> {% endcomment %}


<div id="matches">
  {% comment %} {% for set in val %}
  {% for object in set%} 
    {% if user != object.user_profile.user_profile  %} {% endcomment %}
    {% comment %} {%for key, value in random_potential_partners.items()%}
    <div id="render">{% if key == "1"%}</div>
    {{value.user__first_name}}
  </div>
  {% endcomment %}
    {% comment %} <div id="partner-cards">

          <img src="{{object.user_profile.profile_pic.url}}" id="partner-img"/>
          <div id = "partner-name">
            {{object.user_profile.user_profile.first_name}}
            {{ object.user_profile.user_profile.last_name}}
          </div>
          <div id = "partner_age">
            {{ object.user_profile.age}}
          </div>
          <div id= "partner_buttons">
          <button> <a href= "{% url "partner" object.id %}" >View Profile</a></button>
          <button> <a href= "{% url "send_message" object.id %}" >Message</a></button>
          </div>
    </div>
    {% endif %}  
    {%endfor%} 
    {%endfor%} 
    {% endcomment %}
  {% for object in compatible_personality_profiles  %}
      {% if user_profile != object.user_profile.user_profile  %} 
        {%if user_dating_profile.interested_in == object.user_profile.interested_in %}
        
              <div id="partner-cards">
                    <img src="{{object.user_profile.profile_pic.url}}" id="partner-img"/>
                    <div id = "partner-name">
                      {{object.user_profile.user_profile.first_name}}
                      {{object.user_profile.user_profile.las}}
                    </div>
                    <div id = "partner_age">
                      {{ object.user_profile.age}}
                    </div>
                    <button class="matchmakingBTNs"> <a href= "{% url "partner" object.id %}" >View Profile</a></button>
                    <button class="matchmakingBTNs"> <a href= "{% url "send_message" object.id %}" >Message</a></button>
              </div>
    {% endif %}
    {% endif %}  
    {%endfor%} 

    

</div>


{%endblock content%}
