{% extends "base.html" %}

 {% block content %}
 <div id="personality_page_container">
             
          <form  method="POST" enctype="multipart/form-data" id="personality_form">
          <div class="container">
            <div class="form container">
                <h3 id="personality_form_header">Personality Quiz</h3>
                    {% if form.errors %}
                          {% for field in form %}
                              {% for error in field.errors %}
                                  <div class="alert alert-danger alert-dismissable">
                                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                      <strong>{{ field.label }}: {{ error|escape }}</strong>
                                  </div>
                              {% endfor %}
                          {% endfor %}
                      {% endif %}
              {% csrf_token %}
                  {% for field in form %}
                      {% if field.name == 'do_you_like_drinking'  %}
                          <div class="form-group">
                          <label for="do_you_like_drinking">Do You Drink</label>
                          <select name="do_you_like_drinking" class="selectpicker" id="do_you_like_drinking" data-style="btn-black" data-width="100%" data-live-search="true" title="Select">
                                <option value="Yes">Yes</option>
                                <option value="No">NO</option>
                    
                          </select>
                          </div>
                      
                                            
                        {% elif field.name == 'are_you_active' %}
                        <div class="form-group">
                            <label for="are_you_active">Are You Active?</label>
                            <select name="are_you_active" class="selectpicker" id="are_you_active" data-style="btn-black" data-width="100%" data-live-search="true" title="Select">
                                  <option value="Yes">Yes</option>
                                  <option value="No">NO</option>
                      
                            </select>
                            </div>
                        {% elif field.name == 'outdoor_indoor_pick' %}
                        <div class="form-group">
                            <label for="outdoor_indoor_pick">Outdoor or Indoor</label>
                            <select name="outdoor_indoor_pick" class="selectpicker" id="outdoor_indoor_pick" data-style="btn-black" data-width="100%" data-live-search="true" title="Select">
                                    <option value="outdoor">Outdoor</option>
                                    <option value="indoor">Indoor</option>
                        
                            </select>
                            </div>
                        {% elif field.name == 'interests' %}
                        <div class="form-group">
                            <label for="interests">Interested in?</label>
                            <select name="interests" class="selectpicker" id="interests" data-style="btn-black" data-width="100%" data-live-search="true" title="Select">
                                <option value="long-term">Long-Term</option>
                                <option value="short-term">Short-Term</option>
                                <option value="firguring-out">Still Figuring it Out</option>
                    
                            </select>
                            </div>
                        {% elif field.name == 'music_pick' %}
                        <div class="form-group">
                            <label for="music_pick">What type of Music do you like?</label>
                            <select name="music_pick" class="selectpicker" id="music_pic" data-style="btn-black" data-width="100%" data-live-search="true" title="Select from List">
                                <option value="metal">Metal</option>
                                <option value="classic">Classic</option>
                                <option value="country">Country</option>
                                <option value="pop">Pop</option>
                                <option value="hip-hop">Hip-Hop</option>
                                <option value="gospel">Gospel</option>
                    
                            </select>
                            </div>
                        {% elif field.name == 'what_do_you_do_for_fun_pick' %}
                        <div class="form-group">
                            <label for="what_do_you_do_for_fun_pick">What do you do for Fun?</label>
                            <select name="what_do_you_do_for_fun_pick" class="selectpicker" id="what_do_you_do_for_fun_pick" data-style="btn-black" data-width="100%" data-live-search="true" title="Select from List">
                                <option value="hiking">Hiking</option>
                                <option value="gaming">Gaming</option>
                                <option value="reading">Reading</option>
                                <option value="singing">Singing</option>
                                <option value="sports">Sports</option>
                                <option value="dancing">Dancing</option>
                                <option value="travel">Travel</option>
                                <option value="peotry">Peotry</option>
                    
                            </select>
                            </div>
                        {% elif field.name == 'movie_pick' %}
                        <div class="form-group">
                            <label for="movie_pick">What type of Movies do you like?</label>
                            <select name="movie_pick" class="selectpicker" id="movie_pick" data-style="btn-black" data-width="100%" data-live-search="true" title="Select from List">
                                <option value="horror">Horror</option>
                                <option value="romance">Romance</option>
                                <option value="comedy">Comedy</option>
                                <option value="action">Action</option>
                                <option value="anime">Anime</option>
                                <option value="sci-fi">Sci-fi</option>
                    
                            </select>
                            </div>  
                        {% elif field.name == 'hobby_pick' %}
                        <div class="form-group">
                            <label for="hobby_pick">What hobbies do you enjoy?</label>
                            <select name="hobby_pick" class="selectpicker" id="hobby_pick" data-style="btn-black" data-width="100%" data-live-search="true" title="Select from List">
                                <option value="biking">Biking</option>
                                <option value="knitting">Knitting</option>
                                <option value="painting">Painting</option>
                                <option value="bird-watching">Bird-Watching</option>
                                <option value="antiquing">Antiquing</option>
                                <option value="couch-potato">Couch-Potato</option>
                                <option value="kayaking">Kayaking</option>
                                <option value= "swimming">Swimming</option>
                    
                            </select>
                            </div>  
                        {% elif field.name == 'sport_pick' %}
                        <div class="form-group">
                            <label for="sport_pick">What Sports do you enjoy to watch/participate?</label>
                            <select name="sport_pick" class="selectpicker" id="sport_pick" data-style="btn-black" data-width="100%" data-live-search="true" title="Select from List">
                                <option value="baseball">Baseball</option>
                                <option value="basketball">Basketball</option>
                                <option value="tennis">Tennis</option>
                                <option value="football">Football</option>
                                <option value="soccer">Soccer</option>
                                <option value="skate">Skating</option>
                                <option value="golf">Golf</option>
                            </select>
                            </div>  
                           
                        {% else %}
                        <div class="form-group">
                            <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}"
                                    class="form-control"
                                    name="{{ field.name }}"
                                    id="id_{{ field.name }}"
                                    placeholder="{{ field.field.widget.attrs.placeholder }}">
                        </div> 
                      {% endif %}
                  {% endfor %}
                  <div class="row align-items">
                    <div class="collums">
                      <div class="row">
                        <div class="colllums more">
          
                          <input class="btn1" type="submit" value="Submit" id="personality_form_button" >
                        </div>
                      </div>
                    </div>
                 
            </div>    
          </div>
        
              </form>
  
          </div>
        </div>
    </div>
{% endblock content %}