{% extends "base.html" %}

 {% block content %}
 <div id="personality_page_container">
             
          <form  method="POST" enctype="multipart/form-data" id="personality_form">
          <div class="container">
            <div class="form container">
                <h3 id="personality_form_header">Personality Quiz</h3>
                    {% if form.errors %}
                          {% for field in form %}
                              {% for error in field.errors %}
                                  <div class="alert alert-danger alert-dismissable">
                                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                      <strong>{{ field.label }}: {{ error|escape }}</strong>
                                  </div>
                              {% endfor %}
                          {% endfor %}
                      {% endif %}
              {% csrf_token %}
                  {% for field in form %}
                      {% if field.name == 'do_you_like_drinking'  %}
                          <div class="form-group">
                          <label for="do_you_like_drinking">Do You Drink</label>
                          <select name="do_you_like_drinking" class="selectpicker" id="do_you_like_drinking" data-style="btn-black" data-width="100%" data-live-search="true" title="Select">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                    
                          </select>
                          </div>
                      
                                            
                        {% elif field.name == 'are_you_active' %}
                        <div class="form-group">
                            <label for="are_you_active">Are You Active?</label>
                            <select name="are_you_active" class="selectpicker" id="are_you_active" data-style="btn-black" data-width="100%" data-live-search="true" title="Select">
                                  <option value="Yes">Yes</option>
                                  <option value="No">No</option>
                      
                            </select>
                            </div>
                        {% elif field.name == 'outdoor_indoor_pick' %}
                        <div class="form-group">
                            <label for="outdoor_indoor_pick">Outdoor or Indoor</label>
                            <select name="outdoor_indoor_pick" class="selectpicker" id="outdoor_indoor_pick" data-style="btn-black" data-width="100%" data-live-search="true" title="Select">
                                    <option value="Outdoor">Outdoor</option>
                                    <option value="Indoor">Indoor</option>
                        
                            </select>
                            </div>
                        {% elif field.name == 'interests' %}
                        <div class="form-group">
                            <label for="interests">Interested in?</label>
                            <select name="interests" class="selectpicker" id="interests" data-style="btn-black" data-width="100%" data-live-search="true" title="Select">
                                <option value="Long-term">Long-Term</option>
                                <option value="Short-term">Short-Term</option>
                                <option value="Firguring-out">Still Figuring it Out</option>
                    
                            </select>
                            </div>
                        {% elif field.name == 'music_pick' %}
                        <div class="form-group">
                            <label for="music_pick">What type of Music do you like?</label>
                            <select name="music_pick" class="selectpicker" id="music_pic" data-style="btn-black" data-width="100%" data-live-search="true" title="Select from List">
                                <option value="Metal">Metal</option>
                                <option value="Classic">Classic</option>
                                <option value="Country">Country</option>
                                <option value="Pop">Pop</option>
                                <option value="Hip-hop">Hip-Hop</option>
                                <option value="Gospel">Gospel</option>
                    
                            </select>
                            </div>
                        {% elif field.name == 'what_do_you_do_for_fun_pick' %}
                        <div class="form-group">
                            <label for="what_do_you_do_for_fun_pick">What do you do for Fun?</label>
                            <select name="what_do_you_do_for_fun_pick" class="selectpicker" id="what_do_you_do_for_fun_pick" data-style="btn-black" data-width="100%" data-live-search="true" title="Select from List">
                                <option value="Hiking">Hiking</option>
                                <option value="Gaming">Gaming</option>
                                <option value="Reading">Reading</option>
                                <option value="Singing">Singing</option>
                                <option value="Sports">Sports</option>
                                <option value="Dancing">Dancing</option>
                                <option value="Travel">Travel</option>
                                <option value="Poetry">Poetry</option>
                    
                            </select>
                            </div>
                        {% elif field.name == 'movie_pick' %}
                        <div class="form-group">
                            <label for="movie_pick">What type of Movies do you like?</label>
                            <select name="movie_pick" class="selectpicker" id="movie_pick" data-style="btn-black" data-width="100%" data-live-search="true" title="Select from List">
                                <option value="Horror">Horror</option>
                                <option value="Romance">Romance</option>
                                <option value="Comedy">Comedy</option>
                                <option value="Action">Action</option>
                                <option value="Anime">Anime</option>
                                <option value="Sci-fi">Sci-fi</option>
                    
                            </select>
                            </div>  
                        {% elif field.name == 'hobby_pick' %}
                        <div class="form-group">
                            <label for="hobby_pick">What hobbies do you enjoy?</label>
                            <select name="hobby_pick" class="selectpicker" id="hobby_pick" data-style="btn-black" data-width="100%" data-live-search="true" title="Select from List">
                                <option value="Biking">Biking</option>
                                <option value="Knitting">Knitting</option>
                                <option value="Painting">Painting</option>
                                <option value="Bird-watching">Bird-Watching</option>
                                <option value="Antiquing">Antiquing</option>
                                <option value="Couch-Potato">Couch-Potato</option>
                                <option value="Kayaking">Kayaking</option>
                                <option value= "Swimming">Swimming</option>
                    
                            </select>
                            </div>  
                        {% elif field.name == 'sport_pick' %}
                        <div class="form-group">
                            <label for="sport_pick">What Sports do you enjoy to watch/participate?</label>
                            <select name="sport_pick" class="selectpicker" id="sport_pick" data-style="btn-black" data-width="100%" data-live-search="true" title="Select from List">
                                <option value="Baseball">Baseball</option>
                                <option value="Basketball">Basketball</option>
                                <option value="Tennis">Tennis</option>
                                <option value="Football">Football</option>
                                <option value="Soccer">Soccer</option>
                                <option value="Skate">Skating</option>
                                <option value="Golf">Golf</option>
                            </select>
                            </div>  
                           
                        {% else %}
                        <div class="form-group">
                            <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}"
                                    class="form-control"
                                    name="{{ field.name }}"
                                    id="id_{{ field.name }}"
                                    placeholder="{{ field.field.widget.attrs.placeholder }}">
                        </div> 
                      {% endif %}
                  {% endfor %}
                  <div class="row align-items">
                    <div class="collums">
                      <div class="row">
                        <div id="personality_form_button_container">
          
                          <input class="btn1" type="submit" value="Submit" id="personality_form_button" >
                        </div>
                      </div>
                    </div>
                 
            </div>    
          </div>
        
              </form>
  
          </div>
        </div>
    </div>
{% endblock content %}