{% extends 'home.html'%} {%block content%}
<div id="profile_information_container">
  <div id="profile_name_container">{{user.first_name}} {{user.last_name}}</div>
</div>
<button>
  <a href="{%url 'personality'%}">Edit Personality Profile</a>
</button>
<button>
  <a href="{%url 'dating'%}">Edit Dating Profile</a>
</button>
{% if user_profile.has_dating_profile %}
<div id="dating_profile_information_container">
  {% if dating_profile.created %} {{dating_profile}} {% endif %}
</div>
<div id="personality_profile_container">
  {% if personality_profile.created %}{{personality_profile}}{% endif %}
</div>
{% endif %} {%endblock content%}
